<%- include ../partials/cabecalho.ejs %>
<%- include ../partials/navegacao.ejs %>


<body class="container">

    <h2 class="text-center">Álbuns</h2>

    <table class="table">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Nacionalidade</th>
                    <th class="scope center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < lista.length; i++) { %>
               
                    <tr>h
                        <th scope="row">
                            <%=i+1%>
                        </th>
                        <td>
                            <%= lista[i].nome %>
                        </td>
                        <td>
                            <%= lista[i].genero %>
                        </td>
                        <td>
                            <%= lista[i].nacionalidade %>
                        </td>
                        <td>
                           
            
                            </form>
    
                        </td>
                    </tr>
                    <% } %>
            </tbody>

    </table>

    <%- include ../partials/rodape.ejs %>