<%- include ./layout/cabecalho.ejs %>

<h2 class="text-center">Artistas</h2>

<body class="container">

    <table class="table">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Nacionalidade</th>
                <th class="scope center">Ações</th>
            </tr>
        </thead>
        <tbody class="table-light">
            <% for(var i=0; i < lista.length; i++) { %>
            <tr>
                <th scope="row">
                    <%= i+1 %>
                </th>
                <td>
                    <%= lista[i].nome %>
                </td>
                <td>
                    <%= lista[i].nacionalidade %>
                </td>
                <td>
                    <a href="/artista/edita/<%= lista[i].id %>" class="btn btn-outline-primary btn-sm">Editar</a>

                    <form method="post" action="/artistas/remove/<%= lista[i].id %>" class="float-left">
                        <button type="submit" class="btn btn-outline-danger btn-sm"
                            onClick="return confirm('Confirmar a exclusão do artista <%= lista[i].nome %>?')">Excluir</button>

                    </form>

                </td>
            </tr>
            <% } %>
        </tbody>

    </table>

</body>

<%- include ./rodape.ejs %>
